
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';

// NOTE General

body {
    overflow: hidden; /* Hide scrollbars */
  }

// NOTE Header
.custom-header{
    padding-left: 0;
    padding-bottom: 2px;
 
}
.custom-nav-bar{
    
    background-color: #737DB4!important;
    font-weight: 900;
    font-size: 1rem;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-right-radius: 15px;
    border: 0px solid white;
    box-shadow: 1 5px 15px rgba(0, 0, 0, 0.1);

    
    .header-status{
        img{
            transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
            box-shadow: 1 1px 2px rgba(0, 0, 0, 0.1);
            &:hover {
                transform: scale(1.3, 1.3);
            }
            &:after{
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
                transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
            }
        }
        color: #EBEDF2;
        span{
            font-weight: 600;
            color:rgb(53, 53, 53)
        }
    }
}

// NOTE  offCanvas
.top-right-off-canvas {
    background-color: transparent;
    margin-left: 60%;
    width: 40%;
    top: 0;
    border: 0;
    height: 260px;
    
    .droppable-element{
        height: 100px;
        padding: 5px;

        img{
            border-radius: 10px;
            transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
            box-shadow: 2 5px 10px rgba(0, 0, 2, 0.7);
            &:hover {
                transform: scale(1.2, 1.2);
            }
            &:after{
                box-shadow: 2 15px 20px rgba(0, 0, 0, 1.5);
                transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
            }
        }
    }
    .offcanvas-header{
        width: 80%;

        
    }
    .offcanvas-body{
        
        display: flex;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 80%;
        padding-left: 30px;
        background-image: linear-gradient(to right, #D0D4FF , #EBEDF2);
        border:1px solid black
    }
}

.end-right-off-canvas {
    background-color: transparent;
    margin-left: 72%;
    width: 20%;
    margin-top: 11%;
    border: 0;
    height: 260px;
    
    .droppable-element{
        height: 100px;
        padding: 5px;

        img{
            border-radius: 10px;
            transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
            box-shadow: 1 1px 2px rgba(0, 0, 0, 0.1);
            &:hover {
                transform: scale(1.2, 1.2);
            }
            &:after{
                box-shadow: 1 5px 10px rgba(0, 0, 0, 0.5);
                transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
            }
        }
    }
    .offcanvas-header{
        width: 80%;

        
    }
    .offcanvas-body{
        display: flex;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 80%;
        padding-left: 30px;
        background-image: linear-gradient(to right, #D0D4FF , #EBEDF2);
        border:1px solid black
    }
}



// NOTE Purple cards container on both LEFT and Bottom RIGHT

.custom-purple-cards-container{
.col{
    padding-left: 7px;
    padding-right: 0px;
}
    .card{
        background-color: #EBEDF2;
        border-radius: 10px;
        margin-top: 5px;

        margin-bottom: 10px;
        transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        &:hover {
            transform: scale(1.01, 1.01);
        }
        &:after{
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
        }
    }
    .card-header{
        font-weight: 900;
        padding: 10px 5px ;
        font-size: 12px;
        color: #EBEDF2;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 10px;
        border: 4px solid white;
        box-shadow: 1 5px 15px rgba(0, 0, 0, 1);
        box-shadow:inset 0 5px 15px rgba(0, 0, 0, 0.1);

        background-color: #8C94B7;
  
            // text-align:center;
    
        span{
            
            padding-left: 5px;
            align-items: center;
            text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        }
        img{
            object-fit: cover;
            box-shadow: 1 5px 15px rgba(0, 0, 0, 1);

        }
    }
}


// NOTE Quantum Registers

.custom-quantum-registers{
    padding: 5px;
    .droppable-element{
        img{
            transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
            box-shadow: 1 5px 15px rgba(0, 0, 0, 0.1);
            &:hover {
                transform: scale(1.1, 1.1);
            }
            &:after{
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
            }
        }
    }
}

// NOTE Graid layout drop zone 

.custom-grid-layout{
    padding: 0;
}
.react-grid-layout{
    position: relative!important;
    background-color: #dcdef886;
    // margin-top: 5px;
    height: 570px!important;
}
@keyframes slideInFromLeft {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.react-grid-item{
    // border: 0.5px dashed blue!important;
    // background-color: beige;
    // cursor: pointer;
    border-radius: 5px;
    // padding: 5px;
    img{
        margin-left: -5px;
    }
    animation: 0.5s ease-in-out 0s 1 slideInFromLeft;
}
.react-grid-placeholder{
    background-color: #D0D4FF!important;
}


// NOTE middle tool bar

.custom-middle-tool-bar{
    padding-top: 20px;
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
            box-shadow: 1 5px 15px rgba(0, 0, 0, 0.1);
            &:hover {
                transform: scale(1.02, 1.02);
            }
            &:after{
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
            }
}



// NOTE Library addons

